.list-controls {

  .combo-box .combo-box-header {
    border: 2px solid var(--primary);
    border-radius: 20px;

    &:focus,
    &:hover {
      border-color: var(--quaternary);
    }
  }
}

.topic-list {
  .topic-list-item {
    &:hover {
      background-color: var(--primary-100);
    }
  }

  tbody {
    border-top: 2px solid var(--primary-low);
  }

  .topic-list-data {
    line-height: var(--line-height-very-large);
  }
  .link-bottom-line {
    margin-top: 14px;
  }
}

.topic-list-main-link {
  font-size: 16px;
}