// --------------------------------------------------
// Buttons
// --------------------------------------------------

// Base
// --------------------------------------------------

@mixin btn($text-color: var(--primary),
  $bg-color: var(--primary-very-low),
  $icon-color: var(--primary-high),
  $hover-text-color: var(--primary),
  $hover-bg-color: var(--primary-low),
  $hover-icon-color: var(--primary)) {
  @include form-item-sizing;
  padding: 0.5em 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-weight: normal;
  color: $text-color;
  background: $bg-color;
  border-radius: var(--d-button-border-radius);
  cursor: pointer;
  transition: all 0.25s;

  .d-icon {
    color: $icon-color;
    margin-right: 0.45em;
    transition: color 0.25s;

    // For Windows High Contrast (see whcm.scss for more)
    @media (forced-colors: active) {
      color: ButtonText;
    }
  }

  .d-button-label+.d-icon {
    margin-left: 0.45em;
    margin-right: 0;
  }

  &.btn-icon {
    width: 44px;
    height: 44px;
  }

  &.no-text {
    .d-icon {
      margin-right: 0;
      
      &:last-child {
        display: none;
      }
    }
  }

  @include hover {
    background: $hover-bg-color;
    color: $hover-text-color;

    .d-icon {
      color: $hover-icon-color;

      // For Windows High Contrast (see whcm.scss for more)
      @media (forced-colors: active) {
        color: Highlight;
      }
    }
  }

  &:focus {
    outline: none;
    background: $hover-bg-color;
    color: $hover-text-color;

    .d-icon {
      color: $hover-icon-color;

      @media (forced-colors: active) {
        color: Highlight;
      }
    }
  }

  &[href] {
    color: $text-color;
  }

  &:active,
  &.btn-active {
    @include linear-gradient($hover-bg-color 0%, $bg-color 100%);
    border-bottom-color: $bg-color;
  }

  &[disabled],
  &.disabled {
    &:not(.is-loading) {
      opacity: 0.4;
    }

    &:hover {
      color: $text-color;
      background: $bg-color;

      .d-icon {
        color: $icon-color;
      }
    }

    cursor: not-allowed;
  }

  .loading-container {
    display: none;
    margin: 0 6.75px 0 0;
  }

  &.is-loading {
    &.btn-text {
      .d-button-label {
        font-size: var(--font-down-2);
      }

      &.btn-small {
        .loading-icon {
          font-size: var(--font-down-1);
          margin-right: 0.2em;
        }
      }
    }

    .loading-icon {
      animation: rotate-forever 1s infinite linear, fadein 1s;
    }
  }
}

// Default button
// --------------------------------------------------

.btn {
  @include btn;
}

// Primary button
// --------------------------------------------------

.btn-primary {
  @include btn($text-color: var(--secondary),
    $bg-color: var(--tertiary),
    $icon-color: var(--secondary),
    $hover-text-color: var(--secondary),
    $hover-bg-color: var(--tertiary-hover),
    $hover-icon-color: var(--secondary));
}