// https://github.com/discourse/discourse/blob/main/app/assets/stylesheets/common/base/header.scss
.d-header {
  box-shadow: none;
}

.d-header-icons {

  .icon {
    // width: 44px;
    // height: 44px;

    // img.avatar {
    //   width: 44px;
    //   height: 44px;
    // }

    // .discourse-no-touch &:hover,
    // .discourse-no-touch &:focus {
      
    //   >.d-icon {
    //     color: var(--primary);
    //   }
    // }

    &:active {
      color: var(--primary);
      background-color: transparent;
    }
  }

  .d-icon {
    width: 32px;
    height: 32px;
    color: var(--header_primary);
  }

}