// https://github.com/discourse/discourse/blob/main/app/assets/stylesheets/common/components/navs.scss

// Pill nav
// --------------------------------------------------

.nav-pills {
  @extend %nav;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  > li {
    display: flex;
    margin-right: 0.5em;

    > a,
    button {
      border: none;
      border-radius: var(--d-nav-pill-border-radius);
      padding: 6px 12px;
      color: var(--primary);
      font-size: var(--font-up-1);
      line-height: var(--line-height-small);
      box-sizing: border-box;
      min-height: 30px;
      display: flex;
      align-items: center;
      transition: background-color 0.2s, color 0.2s;

      .d-icon {
        margin-right: 5px;
        opacity: 0.65;
      }

      &:hover {
        color: var(--quaternary);
      }
    }

    a.active,
    button.active {
      color: var(--quaternary);

      .d-icon {
        opacity: 1;
      }
    }
  }
}
