// https://github.com/discourse/discourse/blob/main/app/assets/stylesheets/common/components/navs.scss

// Pill nav
// --------------------------------------------------

.nav-pills {

  >li {

    >a,
    button {

      &:hover {
        color: var(--quaternary);
        background-color: transparent;
      }
    }

    a.active,
    button.active {
      color: var(--quaternary);
      background-color: transparent;
    }
  }
}