@import "navs";

html {
  font-family: 'Poppins';
}

:root {
    --d-max-width: 1200px;
    // --header_primary-low-mid:#FFFFFF;
}

// 隐藏alert提示
.alert {
  display: none !important;
}


// .test-banner {
//   height: 300px;
//   width: 100%;
//   // background: red;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 1em;

//   &-text {
//     font-size: 8em;
//     color: white;
//   }
// }

// .test-after-header {
//   background: red;
// }

// .test-header {
//   background: green;
// }