@import "navs";
@import "header";
@import "badges";
@import "buttons";
@import "select-kit";
@import "_topic-list";
@import "topic-timeline";
@import "topic-post";
@import "category-list";

html {
  font-family: 'Poppins', 'Noto Sans SC';
  font-size: var(--font-0);
}

:root {
    --d-max-width: 1200px;
    --d-button-border-radius: 100px;
    --line-height-very-large: 1.5;
    // --tertiary-hover: #84ECFF;
}

// 隐藏alert提示
// .alert {
//   display: none !important;
// }

// ----------------------------------
// ------特殊位置button不需要圆角-------
.topic-map .buttons .btn {
  border-radius: 0;
}

.user-menu.revamped .tabs-list .btn {
  border-radius: 0;
}
// ----------------------------------


// .test-banner {
//   height: 300px;
//   width: 100%;
//   // background: red;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 1em;

//   &-text {
//     font-size: 8em;
//     color: white;
//   }
// }

// .test-after-header {
//   background: red;
// }

// .test-header {
//   background: green;
// }